{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3, // default would be 2
                "targets": "> 0.25%, not dead"
            }
        ],
        "@babel/preset-react"
        // "stage-3"
    ],
    "plugins": [
        // "@babel/plugin-proposal-class-properties"
    ]
}